.task-container {
  width: 100%;
  margin: 82px 0px 0px 254px;
  text-align: center;
}
.task-form {
  width: 500px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
  margin: 70px auto;
  position: relative;
}
.task-label {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: end;
  margin-left: 15px;
}
.task-label label {
  height: 50px;
  line-height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0px;
}
.task-source {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}
.dropdown-source {
  cursor: pointer;
  height: 50px;
  height: 50px;
  line-height: 40px;
  margin: 14px 0px;
  width: 200px;
  transition: all 1s ease-in-out;
}
#checkbox {
  width: 50px;
  height: 20px;
  cursor: pointer;
}

.save {
  position: absolute;
  top: 514px;
  bottom: 0px;
  left: 250px;
  right: 0px;
  text-align: center;
}
.save button {
  cursor: pointer;
  width: 160px;
  height: 50px;
  border: 2px solid #4f5d75;
  outline: none;
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  background: #2d3142;
  color: white;
}
.save button:hover {
  transform: scale(1.02);
  background: white;
  color: #333;
}
